
<div *ngIf="loading" class="loading-container">
  <div class="loader">
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
  </div>

  


  
 
</div>
<div *ngIf="!loading">
<header>
  <div class="text-content">
    <h1>We’re a Passionate Team of Surya Pumps in Coimbatore</h1>
    <h3>At Surya Pumps, based in the heart of Coimbatore, we are more than just a manufacturing company we are a team driven by precision, integrity, and innovation. Since our inception, we have committed ourselves to delivering high-quality industrial components and engineering solutions that meet the evolving needs of our clients across various sectors.</h3>
    <h4>"We take pride in our transparent practices, timely delivery, and long-term client relationships. Our strength lies not just in what we produce, but in how we work—collaboratively, responsibly, and with a deep commitment to quality"</h4>
  </div>
 
</header>

<main>
  <section>
    <h2>VISION</h2>
    <p>To be recognized as a trusted and leading industrial manufacturing company from Coimbatore, known for our uncompromising quality, customer-first approach, and contribution to the growth of the engineering and manufacturing sectors—both in India and globally.</p>
  </section>
  <section>
    <h2>MISSION</h2>
    <p>We take pride in our transparent practices, timely delivery, and long-term client relationships. Our strength lies not just in what we produce, but in how we work—collaboratively, responsibly, and with a deep commitment to quality</p>
  </section>
</main>

<div class="advisor-section">
  <div class="advisor-text">
    <h1>Staff Advisors</h1>
    <h4>
      At Norton Industries, our Staff Advisor plays a pivotal role in bridging the gap between management and the workforce. With deep industry knowledge and a people-first approach, the advisor guides our team in aligning their individual goals with the company’s vision.

From mentoring junior staff and fostering skill development to resolving workplace challenges and promoting a culture of collaboration, the Staff Advisor ensures our people grow not just professionally, but personally too. They are also instrumental in maintaining a positive work environment, upholding company values, and encouraging continuous improvement across all departments.


      
      Their support ensures policies while encouraging innovation and collaboration.<br>We believe that the strength of Norton Industries lies in its people and our Staff Advisor is at the heart of nurturing that strength.
    </h4>
  </div>
  